<div class="container">
    <footer class="px-4 ">
  
      <div class="d-flex flex-column text-secondary text-center py-4 my-4 ">
        <p>© <%= new Date().getFullYear() %> Okoji Kelechi Emeka. All rights reserved.</p>
      </div>
    </footer>
  </div>
  <script src="/js/index.js">
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html> 
