<%- include('header'); -%>

<div
  class="container d-flex justify-content-center align-items-center min-vh-90"
>
  <div class="rounded bg-light p-5 shadow col-xl-6 col-12 col-lg-6">
    <h1 class="text-center">Reset Password</h1>

    <form action="/reset-password" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Enter Email"
          name="email"
        />
      </div>

      <button class="mt-2 btn btn-danger btn-lg w-100" type="submit">
        Reset
      </button>
    </form>
  </div>
</div>

<%- include('footer'); -%>
